{
  "openapi": "3.0.1",
  "info": {
    "title": "Reports & Analytics API v1.4",
    "description": "API Spec for the Adobe Analytics - Reports & Analytics API",
    "contact": {
      "name": "Adobe Experience Cloud Web Services",
      "url": "http://developer.adobe.com"
    },
    "version": "1.4"
  },
  "servers": [
    {
      "url": "https://api.omniture.com/admin/1.4"
    }
  ],
  "security": [
    {
      "adobe_id": []
    }
  ],
  "paths": {
    "/rest/?method=Bookmark.GetBookmarks": {
      "post": {
        "tags": [
          "Bookmark"
        ],
        "summary": "Retrieves a list of bookmarks for the authenticated user.",
        "operationId": "Bookmark.GetBookmarks",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/bookmarkGetBookmarksRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bookmark.GetBookmarks response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/bookmarkGetBookmarksResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "bookmarkGetBookmarksRequestData"
      }
    },
    "/rest/?method=Bookmark.GetDashboards": {
      "post": {
        "tags": [
          "Bookmark"
        ],
        "summary": "Retrieves a list of dashboards accessible by the user.",
        "operationId": "Bookmark.GetDashboards",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/bookmarkGetDashboardsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bookmark.GetDashboards response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/bookmarkGetDashboardsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "bookmarkGetDashboardsRequestData"
      }
    },
    "/rest/?method=Bookmark.GetReportDescription": {
      "post": {
        "tags": [
          "Bookmark"
        ],
        "summary": "Retrieves the report description for the bookmark.",
        "operationId": "Bookmark.GetReportDescription",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/bookmarkGetReportDescriptionRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bookmark.GetReportDescription response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/bookmarkGetReportDescriptionResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "bookmarkGetReportDescriptionRequestData"
      }
    },
    "/rest/?method=CalculatedMetrics.Delete": {
      "post": {
        "tags": [
          "CalculatedMetrics"
        ],
        "operationId": "CalculatedMetrics.Delete",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/calculatedMetricsDeleteRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CalculatedMetrics.Delete response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/calculatedMetricsDeleteResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "calculatedMetricsDeleteRequestData"
      }
    },
    "/rest/?method=CalculatedMetrics.Get": {
      "post": {
        "tags": [
          "CalculatedMetrics"
        ],
        "operationId": "CalculatedMetrics.Get",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/calculatedMetricsGetRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CalculatedMetrics.Get response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/calculatedMetricsGetResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "calculatedMetricsGetRequestData"
      }
    },
    "/rest/?method=CalculatedMetrics.GetFunctions": {
      "post": {
        "tags": [
          "CalculatedMetrics"
        ],
        "operationId": "CalculatedMetrics.GetFunctions",
        "responses": {
          "200": {
            "description": "CalculatedMetrics.GetFunctions response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/calculatedMetricsGetFunctionsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/?method=CalculatedMetrics.Save": {
      "post": {
        "tags": [
          "CalculatedMetrics"
        ],
        "operationId": "CalculatedMetrics.Save",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/calculatedMetricsSaveRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CalculatedMetrics.Save response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/calculatedMetricsSaveResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "calculatedMetricsSaveRequestData"
      }
    },
    "/rest/?method=Classifications.CommitImport": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Commits a specified Saint Import job for processing.",
        "operationId": "Classifications.CommitImport",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsCommitImportRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.CommitImport response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsCommitImportResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsCommitImportRequestData"
      }
    },
    "/rest/?method=Classifications.CreateExport": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Creates Saint Export Job.",
        "operationId": "Classifications.CreateExport",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsCreateExportRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.CreateExport response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsCreateExportResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsCreateExportRequestData"
      }
    },
    "/rest/?method=Classifications.CreateFTP": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Creates an ftp account for the given parameters and returns the ftp account info",
        "operationId": "Classifications.CreateFTP",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsCreateFTPRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.CreateFTP response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsCreateFTPResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsCreateFTPRequestData"
      }
    },
    "/rest/?method=Classifications.CreateImport": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Creates a Saint Import Job",
        "operationId": "Classifications.CreateImport",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsCreateImportRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.CreateImport response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsCreateImportResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsCreateImportRequestData"
      }
    },
    "/rest/?method=Classifications.GetCompatibilityElements": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Returns array of compatibility information for submitted report suites,",
        "operationId": "Classifications.GetCompatibilityElements",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsGetCompatibilityElementsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.GetCompatibilityElements response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsGetCompatibilityElementsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsGetCompatibilityElementsRequestData"
      }
    },
    "/rest/?method=Classifications.GetExport": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Returns the page details of a given file_id",
        "operationId": "Classifications.GetExport",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsGetExportRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.GetExport response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsGetExportResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsGetExportRequestData"
      }
    },
    "/rest/?method=Classifications.GetFTP": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Returns a list of the ftp accounts configured for this company",
        "operationId": "Classifications.GetFTP",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsGetFTPRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.GetFTP response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsGetFTPResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsGetFTPRequestData"
      }
    },
    "/rest/?method=Classifications.GetFilters": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Get SAINT export filters.",
        "operationId": "Classifications.GetFilters",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsGetFiltersRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.GetFilters response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsGetFiltersResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsGetFiltersRequestData"
      }
    },
    "/rest/?method=Classifications.GetStatus": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Return the current status of a Saint API Job.",
        "operationId": "Classifications.GetStatus",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsGetStatusRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.GetStatus response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsGetStatusResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsGetStatusRequestData"
      }
    },
    "/rest/?method=Classifications.GetTemplate": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Returns the template to be used in the SAINT browser or FTP download",
        "operationId": "Classifications.GetTemplate",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsGetTemplateRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.GetTemplate response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsGetTemplateResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsGetTemplateRequestData"
      }
    },
    "/rest/?method=Classifications.PopulateImport": {
      "post": {
        "tags": [
          "Classifications"
        ],
        "summary": "Attaches Import data to a given Saint Import job.",
        "operationId": "Classifications.PopulateImport",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/classificationsPopulateImportRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classifications.PopulateImport response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/classificationsPopulateImportResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "classificationsPopulateImportRequestData"
      }
    },
    "/rest/?method=Company.GetEndpoint": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Returns the correct endpoint to be used for API calls",
        "operationId": "Company.GetEndpoint",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/companyGetEndpointRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Company.GetEndpoint response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/companyGetEndpointResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "companyGetEndpointRequestData"
      }
    },
    "/rest/?method=Company.GetLoginKey": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Returns the api key when called with the right username and password",
        "operationId": "Company.GetLoginKey",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/companyGetLoginKeyRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Company.GetLoginKey response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/companyGetLoginKeyResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "companyGetLoginKeyRequestData"
      }
    },
    "/rest/?method=Company.GetReportSuites": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieves all report suites associated with your company.",
        "operationId": "Company.GetReportSuites",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/companyGetReportSuitesRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Company.GetReportSuites response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/companyGetReportSuitesResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "companyGetReportSuitesRequestData"
      }
    },
    "/rest/?method=Company.GetTrackingServer": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Returns the tracking server and namespace for the given report suite",
        "operationId": "Company.GetTrackingServer",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/companyGetTrackingServerRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Company.GetTrackingServer response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/companyGetTrackingServerResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "companyGetTrackingServerRequestData"
      }
    },
    "/rest/?method=Company.GetVersionAccess": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieves version access for the company.",
        "operationId": "Company.GetVersionAccess",
        "responses": {
          "200": {
            "description": "Company.GetVersionAccess response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/companyGetVersionAccessResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/?method=DataFeed.GetFeed": {
      "post": {
        "tags": [
          "DataFeed"
        ],
        "operationId": "DataFeed.GetFeed",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/dataFeedGetFeedRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DataFeed.GetFeed response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/dataFeedGetFeedResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "dataFeedGetFeedRequestData"
      }
    },
    "/rest/?method=DataFeed.GetFeeds": {
      "post": {
        "tags": [
          "DataFeed"
        ],
        "operationId": "DataFeed.GetFeeds",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/dataFeedGetFeedsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DataFeed.GetFeeds response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/dataFeedGetFeedsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "dataFeedGetFeedsRequestData"
      }
    },
    "/rest/?method=DataSources.Delete": {
      "post": {
        "tags": [
          "DataSources"
        ],
        "summary": "Deletes a Data Source",
        "operationId": "DataSources.Delete",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/dataSourcesDeleteRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DataSources.Delete response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/dataSourcesDeleteResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "dataSourcesDeleteRequestData"
      }
    },
    "/rest/?method=DataSources.Get": {
      "post": {
        "tags": [
          "DataSources"
        ],
        "summary": "Returns a list of data sources that belong to the specified report suite.",
        "operationId": "DataSources.Get",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/dataSourcesGetRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DataSources.Get response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/dataSourcesGetResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "dataSourcesGetRequestData"
      }
    },
    "/rest/?method=DataSources.GetJobs": {
      "post": {
        "tags": [
          "DataSources"
        ],
        "summary": "Returns information about jobs sent to a Data Source",
        "operationId": "DataSources.GetJobs",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/dataSourcesGetJobsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DataSources.GetJobs response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/dataSourcesGetJobsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "dataSourcesGetJobsRequestData"
      }
    },
    "/rest/?method=DataSources.Save": {
      "post": {
        "tags": [
          "DataSources"
        ],
        "summary": "Creates or modifies a Data Source.",
        "operationId": "DataSources.Save",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/dataSourcesSaveRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DataSources.Save response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/dataSourcesSaveResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "dataSourcesSaveRequestData"
      }
    },
    "/rest/?method=DataSources.UploadData": {
      "post": {
        "tags": [
          "DataSources"
        ],
        "summary": "Upload data to be inserted into the DataSources processing queue",
        "operationId": "DataSources.UploadData",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/dataSourcesUploadDataRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DataSources.UploadData response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/dataSourcesUploadDataResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "dataSourcesUploadDataRequestData"
      }
    },
    "/rest/?method=Report.Cancel": {
      "post": {
        "tags": [
          "Report"
        ],
        "operationId": "Report.Cancel",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportCancelRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report.Cancel response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportCancelResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportCancelRequestData"
      }
    },
    "/rest/?method=Report.Get": {
      "post": {
        "tags": [
          "Report"
        ],
        "operationId": "Report.Get",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportGetRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report.Get response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportGetResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportGetRequestData"
      }
    },
    "/rest/?method=Report.GetElements": {
      "post": {
        "tags": [
          "Report"
        ],
        "operationId": "Report.GetElements",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportGetElementsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report.GetElements response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportGetElementsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportGetElementsRequestData"
      }
    },
    "/rest/?method=Report.GetMetrics": {
      "post": {
        "tags": [
          "Report"
        ],
        "operationId": "Report.GetMetrics",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportGetMetricsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report.GetMetrics response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportGetMetricsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportGetMetricsRequestData"
      }
    },
    "/rest/?method=Report.GetQueue": {
      "post": {
        "tags": [
          "Report"
        ],
        "summary": "Retrieve the report queue for a given company.",
        "operationId": "Report.GetQueue",
        "responses": {
          "200": {
            "description": "Report.GetQueue response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportGetQueueResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/?method=Report.Queue": {
      "post": {
        "tags": [
          "Report"
        ],
        "operationId": "Report.Queue",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportQueueRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report.Queue response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportQueueResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportQueueRequestData"
      }
    },
    "/rest/?method=Report.Retry": {
      "post": {
        "tags": [
          "Report"
        ],
        "operationId": "Report.Retry",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportRetryRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report.Retry response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportRetryResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportRetryRequestData"
      }
    },
    "/rest/?method=Report.Run": {
      "post": {
        "tags": [
          "Report"
        ],
        "operationId": "Report.Run",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportRunRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report.Run response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportRunResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportRunRequestData"
      }
    },
    "/rest/?method=Report.Validate": {
      "post": {
        "tags": [
          "Report"
        ],
        "operationId": "Report.Validate",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportValidateRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report.Validate response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportValidateResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportValidateRequestData"
      }
    },
    "/rest/?method=ReportSuite.Create": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Creates a new report suite with the values specified",
        "operationId": "ReportSuite.Create",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteCreateRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.Create response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteCreateResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteCreateRequestData"
      }
    },
    "/rest/?method=ReportSuite.DeleteCalculatedMetrics": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Deletes a calculated metric for the requested report suites.",
        "operationId": "ReportSuite.DeleteCalculatedMetrics",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteDeleteCalculatedMetricsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.DeleteCalculatedMetrics response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteDeleteCalculatedMetricsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteDeleteCalculatedMetricsRequestData"
      }
    },
    "/rest/?method=ReportSuite.DeleteClassification": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Deletes a classification for one report suite.",
        "operationId": "ReportSuite.DeleteClassification",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteDeleteClassificationRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.DeleteClassification response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteDeleteClassificationResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteDeleteClassificationRequestData"
      }
    },
    "/rest/?method=ReportSuite.DeleteIPAddressExclusion": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Delete an IP exclusion entry for a given report suite.",
        "operationId": "ReportSuite.DeleteIPAddressExclusion",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteDeleteIPAddressExclusionRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.DeleteIPAddressExclusion response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteDeleteIPAddressExclusionResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteDeleteIPAddressExclusionRequestData"
      }
    },
    "/rest/?method=ReportSuite.DeleteInternalURLFilters": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Deletes the specified internal URL filters",
        "operationId": "ReportSuite.DeleteInternalURLFilters",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteDeleteInternalURLFiltersRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.DeleteInternalURLFilters response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteDeleteInternalURLFiltersResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteDeleteInternalURLFiltersRequestData"
      }
    },
    "/rest/?method=ReportSuite.DeleteKeyVisitors": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "deletes a list of key visitors for the selected report suites",
        "operationId": "ReportSuite.DeleteKeyVisitors",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteDeleteKeyVisitorsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.DeleteKeyVisitors response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteDeleteKeyVisitorsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteDeleteKeyVisitorsRequestData"
      }
    },
    "/rest/?method=ReportSuite.DeleteMarketingChannelCost": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Deletes a cost item for the selected report suites",
        "operationId": "ReportSuite.DeleteMarketingChannelCost",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteDeleteMarketingChannelCostRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.DeleteMarketingChannelCost response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteDeleteMarketingChannelCostResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteDeleteMarketingChannelCostRequestData"
      }
    },
    "/rest/?method=ReportSuite.DeletePaidSearchDetection": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Removes the specified paid search rule.",
        "operationId": "ReportSuite.DeletePaidSearchDetection",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteDeletePaidSearchDetectionRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.DeletePaidSearchDetection response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteDeletePaidSearchDetectionResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteDeletePaidSearchDetectionRequestData"
      }
    },
    "/rest/?method=ReportSuite.DeleteVirtualReportSuite": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "operationId": "ReportSuite.DeleteVirtualReportSuite",
        "responses": {
          "200": {
            "description": "ReportSuite.DeleteVirtualReportSuite response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteDeleteVirtualReportSuiteResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/?method=ReportSuite.GetActivation": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the activated status for the requested report suites.",
        "operationId": "ReportSuite.GetActivation",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetActivationRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetActivation response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetActivationResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetActivationRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetAxleStartDate": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the axle start date for the requested report suites.",
        "operationId": "ReportSuite.GetAxleStartDate",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetAxleStartDateRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetAxleStartDate response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetAxleStartDateResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetAxleStartDateRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetBaseCurrency": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the base URL for the requested report suites.",
        "operationId": "ReportSuite.GetBaseCurrency",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetBaseCurrencyRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetBaseCurrency response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetBaseCurrencyResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetBaseCurrencyRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetBaseURL": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the base URL for the requested report suites.",
        "operationId": "ReportSuite.GetBaseURL",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetBaseURLRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetBaseURL response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetBaseURLResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetBaseURLRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetCalculatedMetrics": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the calculated metrics for the requested report suites.",
        "operationId": "ReportSuite.GetCalculatedMetrics",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetCalculatedMetricsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetCalculatedMetrics response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetCalculatedMetricsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetCalculatedMetricsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetClassifications": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the requested classifications from the requested report suites",
        "operationId": "ReportSuite.GetClassifications",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetClassificationsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetClassifications response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetClassificationsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetClassificationsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetCleanURLs": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "operationId": "ReportSuite.GetCleanURLs",
        "responses": {
          "200": {
            "description": "ReportSuite.GetCleanURLs response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetCleanURLsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/?method=ReportSuite.GetCustomCalendar": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the custom calendar for the requested report suites.",
        "operationId": "ReportSuite.GetCustomCalendar",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetCustomCalendarRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetCustomCalendar response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetCustomCalendarResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetCustomCalendarRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetDataWarehouseDisplay": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the datawarehouse diaplay setting for the requested report suites.",
        "operationId": "ReportSuite.GetDataWarehouseDisplay",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetDataWarehouseDisplayRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetDataWarehouseDisplay response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetDataWarehouseDisplayResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetDataWarehouseDisplayRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetDefaultPage": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the default page for the requested report suites.",
        "operationId": "ReportSuite.GetDefaultPage",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetDefaultPageRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetDefaultPage response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetDefaultPageResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetDefaultPageRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetDiscoverEnabled": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the discover activation for the requested report suites.",
        "operationId": "ReportSuite.GetDiscoverEnabled",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetDiscoverEnabledRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetDiscoverEnabled response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetDiscoverEnabledResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetDiscoverEnabledRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetEcommerce": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the Conversion level for the requested report suites.",
        "operationId": "ReportSuite.GetEcommerce",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetEcommerceRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetEcommerce response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetEcommerceResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetEcommerceRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetEvars": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the conversion variables for the requested report suites.",
        "operationId": "ReportSuite.GetEvars",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetEvarsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetEvars response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetEvarsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetEvarsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetEvents": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the success events for the requested report suites.",
        "operationId": "ReportSuite.GetEvents",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetEventsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetEvents response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetEventsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetEventsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetGeoSegmentation": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the geography segmentation for the requested report suites.",
        "operationId": "ReportSuite.GetGeoSegmentation",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetGeoSegmentationRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetGeoSegmentation response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetGeoSegmentationResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetGeoSegmentationRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetIPAddressExclusions": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Returns the IP address exclusions for a given report suite.",
        "operationId": "ReportSuite.GetIPAddressExclusions",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetIPAddressExclusionsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetIPAddressExclusions response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetIPAddressExclusionsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetIPAddressExclusionsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetIPObfuscation": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the IP Address Obfuscation setting.",
        "operationId": "ReportSuite.GetIPObfuscation",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetIPObfuscationRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetIPObfuscation response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetIPObfuscationResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetIPObfuscationRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetInternalURLFilters": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the internal URL filters for the requested report suites.",
        "operationId": "ReportSuite.GetInternalURLFilters",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetInternalURLFiltersRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetInternalURLFilters response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetInternalURLFiltersResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetInternalURLFiltersRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetKeyVisitors": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves a list of Key visitors for the specified report suites",
        "operationId": "ReportSuite.GetKeyVisitors",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetKeyVisitorsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetKeyVisitors response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetKeyVisitorsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetKeyVisitorsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetListVariables": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the List Variables for the requested report suites.",
        "operationId": "ReportSuite.GetListVariables",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetListVariablesRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetListVariables response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetListVariablesResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetListVariablesRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetLocalization": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the status of the multibyte character setting for the requested report suites.",
        "operationId": "ReportSuite.GetLocalization",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetLocalizationRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetLocalization response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetLocalizationResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetLocalizationRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetMarketingChannelCosts": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the marketing channel cost metrics for the requested report suites.",
        "operationId": "ReportSuite.GetMarketingChannelCosts",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetMarketingChannelCostsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetMarketingChannelCosts response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetMarketingChannelCostsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetMarketingChannelCostsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetMarketingChannelExpiration": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the marketing channel engagement period expiration information for the requested report suites.",
        "operationId": "ReportSuite.GetMarketingChannelExpiration",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetMarketingChannelExpirationRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetMarketingChannelExpiration response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetMarketingChannelExpirationResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetMarketingChannelExpirationRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetMarketingChannelRules": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the marketing channel rules for the requested report suites.",
        "operationId": "ReportSuite.GetMarketingChannelRules",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetMarketingChannelRulesRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetMarketingChannelRules response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetMarketingChannelRulesResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetMarketingChannelRulesRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetMarketingChannels": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the marketing channels for the requested report suites.",
        "operationId": "ReportSuite.GetMarketingChannels",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetMarketingChannelsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetMarketingChannels response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetMarketingChannelsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetMarketingChannelsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetMobileAppReporting": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the Mobile Application Tracking settings for the requested report suites.",
        "operationId": "ReportSuite.GetMobileAppReporting",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetMobileAppReportingRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetMobileAppReporting response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetMobileAppReportingResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetMobileAppReportingRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetPaidSearchDetection": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the paid search settings for the requested report suites.",
        "operationId": "ReportSuite.GetPaidSearchDetection",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetPaidSearchDetectionRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetPaidSearchDetection response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetPaidSearchDetectionResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetPaidSearchDetectionRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetPermanentTraffic": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the permanent traffic settings for the requested report suites.",
        "operationId": "ReportSuite.GetPermanentTraffic",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetPermanentTrafficRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetPermanentTraffic response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetPermanentTrafficResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetPermanentTrafficRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetPreviousServerCalls": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "operationId": "ReportSuite.GetPreviousServerCalls",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetPreviousServerCallsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetPreviousServerCalls response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetPreviousServerCallsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetPreviousServerCallsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetPrivacySettings": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the privacy settings for the requested report suites.",
        "operationId": "ReportSuite.GetPrivacySettings",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetPrivacySettingsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetPrivacySettings response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetPrivacySettingsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetPrivacySettingsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetProcessingStatus": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Returns processing status for the given report suites.",
        "operationId": "ReportSuite.GetProcessingStatus",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetProcessingStatusRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetProcessingStatus response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetProcessingStatusResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetProcessingStatusRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetProps": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the Traffic Vars for the requested report suites.",
        "operationId": "ReportSuite.GetProps",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetPropsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetProps response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetPropsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetPropsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetRealTimeSettings": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Gets the real time configuration",
        "operationId": "ReportSuite.GetRealTimeSettings",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetRealTimeSettingsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetRealTimeSettings response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetRealTimeSettingsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetRealTimeSettingsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetScheduledSpike": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the scheduled traffic changes for the requested report suites.",
        "operationId": "ReportSuite.GetScheduledSpike",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetScheduledSpikeRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetScheduledSpike response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetScheduledSpikeResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetScheduledSpikeRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetSegments": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "operationId": "ReportSuite.GetSegments",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetSegmentsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetSegments response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetSegmentsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetSegmentsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetSettings": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Returns report suite settings.",
        "operationId": "ReportSuite.GetSettings",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetSettingsRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetSettings response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetSettingsResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "reportSuiteGetSettingsRequestData"
      }
    },
    "/rest/?method=ReportSuite.GetSiteTitle": {
      "post": {
        "tags": [
          "ReportSuite"
        ],
        "summary": "Retrieves the Site Title for the requested report suites.",
        "operationId": "ReportSuite.GetSiteTitle",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/reportSuiteGetSiteTitleRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ReportSuite.GetSiteTitle response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/reportSuiteGetSiteTitleResponseData"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
[...]
